
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmbedSocialChallenge</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>

    <style>
        select {
            width: 200px;
        }
        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>Filter reviews</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form th:method="GET" th:action="@{/all-reviews}">
                <div>
                    <label>Order by rating:</label><br/>
                    <select name="isHighestFirst" class="form-control">
                        <option th:value="1" >Highest First</option>
                        <option th:value="0" >Lowest First</option>
                    </select>
                </div>
                <div>
                    <label>Minimum rating:</label><br/>
                    <select name="minRating" class="form-control">
                        <option th:value="1" >1</option>
                        <option th:value="2" >2</option>
                        <option th:value="3" >3</option>
                        <option th:value="4" >4</option>
                        <option th:value="5" >5</option>
                    </select>
                </div>
                <div>
                    <label>Order by date:</label><br/>
                    <select name="isNewestFirst" class="form-control">
                        <option th:value="1" >Newest First</option>
                        <option th:value="0" >Oldest First</option>
                    </select>
                </div>
                <div>
                    <label>Prioritize by text:</label><br/>
                    <select name="isPrioritized" class="form-control">
                        <option th:value="0" >No</option>
                        <option th:value="1" >Yes</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Rating</th>
            <th>Review Text</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${reviews}">
            <td><span th:text="${review.getRating()}"></span></td>
            <td><span th:text="${review.getReviewText()}"></span></td>
            <td><span th:text="${review.getReviewCreatedOnDate()}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>